body {
    font-family: arial, sans-serif;
    font-size: 13px;
    height: 100vh;

}

#main {
    margin-top: 89px;
}

#main img {
    padding-top: 109px;
    height: 92px;
    width: 272px;
    display: block; 
    margin: auto;

}

#navbar {
    position: absolute;
    top: 10px;
    padding-left: 80%;
    padding-right: 20px;
}

#navbar img {
    background-position: -132px -38px;
    background-size: 528px 68px;
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
    height: 30px;
    width: 30px;
    line-height: normal;
    opacity: 0.55px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;


}

#navbar a {
    text-decoration: none;
    padding-left: 10px;
    color: #646464;
    cursor: default;
    font-family: arial, sans-serif;
    font-size: 13px;
}

#navbar a:hover {
    text-decoration: underline;
    cursor: pointer;
}

#navbar span {
    width: 80px;
    height: 60px;

}

#navbar span a {
    cursor: default;
    border: 1px solid #4285f4;
    border-radius: 3px;
    font-weight: bold;
    outline: none;
    background-color: #4285f4;

    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    color: white;



}

#navbar span a:hover {
    text-decoration: none;
    cursor: default;
}



#search-bar, #search-buttons {
    text-align: center;

}

#search-bar {
    margin-top: 20px;


}

#search-bar input {

    width: 600px;
    height: 45px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box;
    overflow: hidden;
    padding: 6px 9px 0;
    line-height: 0;
    font-family: arial, sans-serif;
    font-size: 16px;


}

#search-buttons {
    margin-top: 20px;

}

#search-buttons input {
    height: 36px;
    line-height: 27px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: default;
    font-family: arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-left: -9px;
    font-family: arial, sans-serif;
    font-size: 13px;
    line-height: 40px;
    background-color: #eee;
    border: 1px solid #ddd;





}

footer .left-col {
    float: left;
    padding-left: 15px;

}

footer .right-col {
    float: right;
    padding-right: 27px;

}

footer .left-col a, .right-col a {
    text-decoration: none;
    padding-left: 27px;
    color: #646464;
    cursor: default;
    font-family: arial, sans-serif;
    font-size: 13px;
}

footer .left-col a:hover, .right-col a:hover {
    text-decoration: underline;
}

footer .left-col a:active, .right-col a:active {
    color: #dd4b39;
}


